@import url('https://fonts.googleapis.com/css2?family=Metrophobic&family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metrophobic&family=Rubik:wght@706&display=swap');
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	 
}

body{
	font-family: "Metrophobic", sans-serif;
	   

}
 